.blank{
	width:50% !important;
	float:right;
}
.navbar-header{
	width:40%;
}
.titleNav{
	position: fixed;
	background-color: white;
	width:100%;
}
.navbar-nav{
width:60%;
right:120Px;
}
.navSize{
    font-size: 3em;
    margin-top: 26px;
    font-family: Chalkduster, Papyrus, fantasy;
}
.titleImage{

	width:200px;
	height:100px;
	cursor: pointer;
	border-right: 2px solid #D0D0D0  ;
}

.contentContainer{
	width: 1899px;
    height: 1100px;
	background-image: url('image/background.PNG');
	background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-position: center center;
    background-size: cover;
   
}
.contentContainers{
	width: 1899px;
    height: 1100px;
	background-image: url('image/background.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.announcement{
	padding-left:100px;
	font-size:14px;
	color:lightslategray;
	font-family: Comic Sans MS;
}
.footerContainer{
	padding-top:20px;
	padding-bottom: 20px;
}
.fa-hover{
	margin-right:5px;

}
.copyright{
	padding-left:200px;
	color:lightslategray;	
	font-family: Comic Sans MS;
}
.donate{
	font-family: fantasy;
    cursor: pointer;
    padding: 32px;
    width: 195px; 
    background-color: #B6B6B6;
    border: 2px solid navajowhite;
}
.home{
	margin-top:550px;
	margin-left: 250px;
	font-family: Comic Sans MS;
	cursor: pointer;
	padding: 32px;
	width: 195px;
	background-color: black;
	color:white;
	border: 2px solid navajowhite;
}
.nodonate{
	font-family: fantasy;
    cursor: pointer;
    padding: 32px;
    width: 195px; 
    background-color: #B6B6B6;
    border: 2px solid navajowhite;
}
.copyright :hover{
	cursor: pointer;
	color:navy;
}
